@media (max-width: 1400px) {
    .header {
        .container {
            max-width: 1200px + 30px;
        }
        .lang-dropdown {
            font-size: 16px;
            line-height: 19px;
            margin-left: auto;
        }

        &__menu-btn {
            // display: block;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0;
            cursor: pointer;
            position: relative;
            z-index: 15;

            height: 18px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &::before,
            &::after {
                content: '';
                width: 24px;
                height: 3px;
                background-color: $primary;
                display: block;
                // margin-bottom: 4px;
                transition: all 0.3s;
                border-radius: 4px;
            }
            &::after {
                margin-bottom: 0;
                // margin-left: auto;
            }
            margin-left: 35px;
        }
        &__menu-btn-line {
            background-color: $primary;
            width: 24px;
            display: block;
            height: 3px;
            // margin-bottom: 4px;
            opacity: 1;
            transition: all 1.3s;
            border-radius: 4px;
        }
        &__menu-btn.active {
            .header__menu-btn-line {
                opacity: 0;
                transition: all 0s;
            }
            &::after {
                width: 24px;
                transform: translateY(-7px) rotate(-135deg);
            }
            &::before {
                transform: translateY(8px) rotate(135deg);
            }
        }

        &__menu {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100vh;
            left: 0%;
            top: 0;
            background-color: #1d1d1d;
            opacity: 0;
            pointer-events: none; /* Disable interactions when hidden */
            transition: opacity 0.3s ease-in-out; /* Add transition for opacity */
        }
        &__menu.active {
            width: 100vw;
        }
        &__menu.active {
            opacity: 1;
            pointer-events: auto; /* Enable interactions when visible */
        }
        &__menu-items {
            font-size: 30px;
            line-height: 37px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            padding: 32px 30px;
        }
        &__menu-item {
            margin-left: 0 !important;
            &:hover {
                color: $secondary;
            }
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 1000px) {
    .lead {
        font-size: 36px;
        line-height: 40px;
        padding-bottom: 15px;
    }
    .main-button {
        width: 130px;
        height: 40px;
        font-size: 14px;
        line-height: 14px;
    }

    .inner {
        padding: 60px 0;
    }

    .header {
        .logo {
            max-width: 120px;
        }
        &__inner {
            margin: 5px;
        }
    }
    .section-1 {
        min-height: calc(100vh - 60px);
        &__lead {
            color: white;
            font-size: 58px;
            line-height: 65px;
            margin-bottom: 20px;
        }
        &__text-outline {
            bottom: -50px;
            font-size: 120px;
            letter-spacing: 30px;
            line-height: 125px;
        }
    }
    .about {
        &__box {
            max-width: 420px;
            padding: 20px;
        }
    }
    .section-2 {
        &__inner {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    .section-3 {
        &__plates {
            .plate {
                margin: 0 auto;
            }
        }
    }
    .introduction {
        &__image-wrapper {
            height: 560px;
            width: 380px;
            img {
                width: 450px;
                height: 450px;
                top: 35px;
                right: 35px;
            }
        }
        &__content {
            max-width: 360px;
            bottom: -40px;
            padding: 65px 22px 95px;
        }
        &__text {
            padding-bottom: 30px;
            font-size: 15px;
            line-height: 24px;
        }
    }
    .section-5 {
        &__inner {
            flex-direction: column;
        }
        &__overview {
            text-align: center;
        }
        &__intro {
            display: inline-block;
            margin: 0 auto;
            text-align: left;
        }
        &__img {
            display: inline-block;
        }
        &__list {
            flex-basis: initial;
            grid-template-columns: repeat(2, 200px);
            justify-content: space-evenly;
            row-gap: 40px;
        }
    }
    .section-7 {
        &__content {
            flex-direction: column;
            align-items: center;
        }
        .form-wrapper {
            width: 80%;
        }
    }
}

@media (max-width: 700px) {
    body {
        &::-webkit-scrollbar-thumb {
            background: #272525;
            border-radius: 3px;
        }

        &::-webkit-scrollbar {
            width: 5px;
            background: #413e3e;
        }
    }
    .container {
        padding: 0 5px;
    }

    .lead {
    }
    .main-button {
    }

    .inner {
    }

    .header {
        .logo {
            max-width: 120px;
        }
        &__inner {
            margin: 5px;
        }
    }
    .section-1 {
        min-height: calc(100vh - 60px);
        &__lead {
        }
        &__text-outline {
            bottom: -20px;
            font-size: 40px;
            letter-spacing: 20px;
            line-height: 45px;
        }
    }
    .about {
        &__box {
        }
    }
    .section-2 {
        &__inner {
        }
    }
    .section-3 {
        &__plates {
            .plate {
                margin: 0 auto;
                width: initial;
                padding: 0px;
            }
        }
    }
    .introduction {
        &__image-wrapper {
            img {
            }
        }
        &__content {
        }
        &__text {
        }
    }
    .section-4 {
        .calculation {
            .lines {
                height: 500px;
                position: relative;
                &__line-item-3 {
                    width: 26px;
                    height: 100%;
                    left: 30%;
                    transform: translateY(0);
                    top: 0;
                }
                &__line-item-2 {
                    width: 26px;
                    height: 50%;
                    left: 30%;
                    transform: translateY(0);
                    top: 0;
                }
                &__line-item-1 {
                    width: 26px;
                    height: 25%;
                    left: 30%;
                    transform: translateY(0);
                    top: 0;
                }
                &__KPI {
                    height: 100%;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
                &__time {
                    display: none;
                }
            }
        }
    }
    .section-5 {
        &__inner {
        }
        &__overview {
        }
        &__intro {
        }
        &__img {
        }
        &__list {
        }
    }
    .section-7 {
        &__content {
        }
        .form-wrapper {
            width: 100%;
        }
    }
}
