<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Solenergi</title>
        <link rel="stylesheet" href="fonts/font-awesome-5.css" />
        <link rel="stylesheet" href="css/style.min.css" />
        <link rel="icon" type="image/x-icon" href="images/favicon.png" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
            integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    </head>

    <body>
        <header class="header">
            <div class="container-header">
                <div class="header__inner">
                    <a href="#" class="logo">
                        <img src="images/logo.jpg" alt="" />
                    </a>
                    <nav class="header__menu">
                        <ul class="header__menu-items">
                            <li class="header__menu-item">
                                <a href="#about">Om Sunway Solutions</a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#services">Tjenester</a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#ourProjects">Vores projekter</a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#contacts">Kontakter</a>
                            </li>
                        </ul>
                    </nav>
                    <a class="main-button header__contact" href="#form">
                        <i aria-hidden="true" class="fas fa-envelope"></i>
                        <p>få kontakt</p>
                    </a>
                    <div class="lang-dropdown">
                        <p>DA</p>
                        <div class="lang-dropdown__item">
                            <a href="./nl">NL</a>
                        </div>
                    </div>
                    <div class="header__menu-btn" id="menuBtn">
                        <span class="header__menu-btn-line"></span>
                    </div>
                </div>
            </div>
        </header>
        <section class="section-1">
            <div class="container-section-1">
                <div class="section-1__inner" data-aos="fade-right">
                    <p class="section-1__intro intro">Løsning til installation af solcellepaneler</p>
                    <p class="section-1__lead">At forsyne hjem<br />Med solcellepaneler</p>
                    <button class="section-1__button main-button toForm">opdag mere</button>
                </div>
            </div>
            <span class="section-1__text-outline" data-aos="zoom-in-down" data-aos-offset="-100">Energi</span>
        </section>
        <section class="about" id="about">
            <div class="container">
                <div class="about__inner inner text-output-wrapper">
                    <div class="about__box" data-aos="fade-left" data-aos-offset="200">
                        <p class="about__intro">Om os</p>
                        <ul>
                            <li>
                                Et hold af unge certificerede specialister, der er fortalere for grøn energi, tilbyder en unik mulighed for alle beboere i Nederlandene for selv at
                                generere elektricitet og aktivt deltage i at skabe et mere miljøvenligt land.
                            </li>
                            <li>
                                Vores mission er at hjælpe og realisere borgerne i Nederlandene med at modtage energi og passiv indkomst. Dette opnås gennem installationen af høj
                                kvalitet, energieffektive og miljøvenlige solkraftanlæg. Vi designer også, installerer, forbinder, dokumenterer og assisterer vores kunder gennem
                                hele driftsperioden af et kraftværk.
                            </li>
                            <li>
                                Vi tilbyder favorable økonomiske betingelser for gennemførelsen af projekter til produktion af vores egen elektricitet. Forskellige
                                finansieringsmodeller er tilgængelige, herunder udstyrsleje, tilskud og støtteprogrammer. Vores eksperter vil hjælpe dig med at forstå de økonomiske
                                aspekter og vælge den bedste løsning for dig.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-2">
            <div class="container">
                <div class="section-2__inner inner">
                    <div class="section-2__img-part" data-aos="flip-up" data-aos-offset="200">
                        <div class="section-2__img-wrapper">
                            <img src="images/section2/photo334.jpg" alt="worker" />
                            <div class="section-2__img-credit">
                                12<sup>+</sup><br />
                                <span>År med <br />Erfaring</span>
                            </div>
                        </div>
                    </div>
                    <div class="section-2__section-content">
                        <p class="section-2__intro intro intro--line-left">VORES INTRODUKTION</p>
                        <p class="section-2__lead lead">Tjenester fra Sunway Solutions</p>
                        <p class="section-2__text text">
                            Hos Sunway Solutions kan du vælge den bedste løsning til dine behov og præferencer. Vi garanterer den høje kvalitet af alle vores produkter, som er
                            klassificeret som A, og giver langvarige garantier for dem. Vores team af eksperter står klar til at tilbyde følgende muligheder:
                        </p>
                        <hr />
                        <div class="section-2__title">
                            <i aria-hidden="true" class="far fa-sun"></i>
                            <h3>Service og Rengøring</h3>
                        </div>

                        <p>
                            Vi tilbyder service til dine solpaneler for at sikre deres optimale ydeevne og levetid. Vores team af eksperter vil regelmæssigt inspicere og
                            vedligeholde dit system.
                        </p>
                        <div class="section-2__title">
                            <i aria-hidden="true" class="far fa-sun"></i>
                            <h3>Opladningsstationer</h3>
                        </div>

                        <p>Hvis du har en elektrisk bil eller planlægger at købe en, tilbyder vi Easee Charging Robot, en intelligent, kompakt solcelledrevet biloplader.</p>
                        <hr />
                        <div class="section-2__content-group">
                            <button class="main-button toForm">Lær Mere</button>
                            <div class="section-2__phone phone-group">
                                <div class="phone-group__phone-icon">
                                    <i aria-hidden="true" class="fas fa-phone-volume"></i>
                                </div>
                                <div class="phone-group__items">
                                    <p class="phone-group__text">Har du nogen spørgsmål?</p>
                                    <a href="tel:+31638578917" class="phone-group__phone-link">+31 6 3857 8917</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-3" id="services">
            <div class="container">
                <div class="section-3__inner inner">
                    <p class="section-3__intro intro intro--line-center">HVAD VI GØR</p>

                    <p class="section-3__lead lead">Vores Services</p>
                    <div class="section-3__plates">
                        <div class="plate">
                            <div class="plate__media-wrapper" id="plate__media-1">
                                <video id="plate_player-1" controls>
                                    <source src="images/videos/plate1.mp4" type="video/mp4" />
                                </video>
                                <img src="images/section3/icon-1.png" alt="" class="plate__imgae-credit" />
                            </div>
                            <div class="plate__text-wrapper text-output-wrapper">
                                <p class="plate__intro intro">INSTALLATION, AFBRYDELSE, RENGØRING, VEDLIGEHOLDELSE</p>
                                <h2>Installation af solpaneler af Sunway Solutions</h2>
                                <p>Installation af solpaneler af Sunway Solutions til kunder inkluderer følgende trin:</p>
                                <ol>
                                    <li>
                                        Indledende konsultation: Vores team gennemfører en indledende konsultation med klienten for at forstå deres energibehov og vurdere
                                        mulighederne for at installere solpaneler. Vi diskuterer systemets størrelse, klientens budget og giver den nødvendige information.
                                    </li>
                                    <li>
                                        Stedanalyse: Vi gennemfører en detaljeret analyse af det sted, hvor solpaneler er planlagt til at blive installeret. Vi udforsker den
                                        tilgængelige plads til installation af paneler for at bestemme den mest effektive konfiguration.
                                    </li>
                                    <li>
                                        Systemdesign: Baseret på dataene indsamlet fra de tidligere trin udvikler vores team en individuel solsystemdesign, der tager højde for
                                        klientens behov.
                                    </li>
                                    <li>
                                        Levering af tilbud: Vi giver klienten et detaljeret tilbud, herunder tekniske specifikationer for systemet, omkostninger,
                                        installationsperiode og garanti.
                                    </li>
                                    <li>
                                        Installation: Efter at have accepteret forslaget og underskrevet kontrakten fortsætter vi med installationen af solpaneler. Vores
                                        professionelle team udfører omhyggeligt installationen, herunder fastgørelse, montering af solpaneler og elektriske forbindelser.
                                    </li>
                                    <li>
                                        Netforbindelse: Når solpanelerne er installeret, vil vi tilslutte dit system til det elektriske netværk. Dette inkluderer installation af
                                        inverter, tilslutning til det elektriske panel samt udførelse af eventuelle nødvendige kontroller og justeringer.
                                    </li>
                                    <li>
                                        Testning og drift: Vi tester og validerer systemet for at sikre, at det fungerer korrekt. Efter vellykket testning giver vi dig en fuld
                                        rapport om systemets funktion og demonstrerer dets funktionalitet.
                                    </li>
                                    <li>
                                        Træning og service: Vi tilbyder kundetræning i brugen og styringen af solsystemet. Derudover tilbyder vi efter-salgsservice for regelmæssigt
                                        at kontrollere og vedligeholde systemet for at sikre pålidelig drift gennem hele dets levetid.
                                    </li>
                                </ol>
                                <!--Dismantling-->
                                <h2>Afbrydelse af solpaneler</h2>
                                <p>
                                    Afbrydelse af solpaneler er processen med at fjerne og adskille solmoduler, hvilket kan udføres i følgende tilfælde: når gamle paneler skal
                                    udskiftes med nye, ved flytning eller omlokalisering af systemet, ved renovering af en bygning eller ved vedligeholdelse og reparation, hvis det
                                    er nødvendigt. Her er trinene, der normalt indgår i processen med at afmontere solpaneler:
                                </p>
                                <ul>
                                    <li>Vurdering og forberedelse: I begyndelsen af processen udføres en vurdering og planlægning af afbrydelse.</li>
                                    <li>Afbrydelse af fotovoltaiske moduler: Hvert solmodul skal omhyggeligt fjernes fra sine monteringer.</li>
                                    <li>
                                        Fjernelse af monteringerne: Efter at have fjernet modulerne går du videre med at fjerne monteringerne, der holder solpanelerne på plads.
                                    </li>
                                    <li>
                                        Frakobling af elektriske forbindelser: Et vigtigt skridt er at frakoble de elektriske forbindelser og ledninger, der er forbundet med
                                        solpanelerne.
                                    </li>
                                    <li>Pakning og transport: Efter afbrydelse skal komponenterne i solsystemet pakkes og gøres klar til transport.</li>
                                    <li>Bortskaffelse og genanvendelse: Efter afbrydelse af solpanelerne skal affaldet bortskaffes korrekt og genanvendes.</li>
                                </ul>

                                <!--Cleaning-->
                                <h2>Rengøring af solpaneler</h2>
                                <p>Sunway Solutions tilbyder professionel rengøring af solpaneler ved hjælp af den bedste metode, som inkluderer følgende trin:</p>
                                <ol>
                                    <li>Foreløbig vurdering</li>
                                    <li>Sikkerhed:</li>
                                    <li>Brug af optimale værktøjer og udstyr</li>
                                    <li>Fjernelse af forureninger</li>
                                    <li>Tørring og kontrol</li>
                                    <li>Dokumentation</li>
                                </ol>
                                <p>
                                    Vores team af specialister hos Sunway Solutions har erfaring med rengøring af solpaneler og sikrer sikkerhed, effektivitet og lang levetid for
                                    dit solsystem. Vi er dedikerede til at give vores kunder den højeste grad af service og hjælp til at opretholde optimal ydeevne af solpanelerne.
                                </p>
                                <!--Maintanance-->
                                <h1>Vedligeholdelse af solpanel</h1>
                                <p>
                                    Sunway Solutions tilbyder et komplet udvalg af teknisk service og support til solpaneler, invertere, batterier og opladere. Her er vores
                                    vigtigste aspekter af høj kvalitetsservice:
                                </p>
                                <ul>
                                    <li>Overvågningsservice</li>
                                    <li>Installationsvejledning</li>
                                    <li>Fejlhåndtering og RMA</li>
                                </ul>
                                <p>
                                    Sunway Solutions er forpligtet til at yde den højeste grad af teknisk support og service til vores kunder. Vores team af eksperter har
                                    omfattende erfaring med solsystemer og er klar til at tilbyde løsninger til at optimere ydeevnen og pålideligheden af dine paneler, invertere,
                                    batterier og opladere.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="introduction" data-aos="zoom-in" data-aos-offset="300">
            <div class="container">
                <div class="introduction__inner inner">
                    <div class="introduction__box">
                        <div class="introduction__content">
                            <p class="introduction__lead lead">Virksomhedsgaranti</p>
                            <p class="introduction__text text">
                                Vi giver altid en garantiperiode for alle typer arbejde. Garantiperioden er op til 25 år, afhængig af den type udstyr, der er installeret.
                            </p>
                            <button class="introduction__btn main-button toForm">Lær mere</button>
                        </div>
                        <div class="introduction__image-wrapper">
                            <img src="images/intro/block-img.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-3" id="services">
            <div class="container">
                <div class="section-3__inner inner">
                    <div class="section-3__plates">
                        <div class="plate plate--right">
                            <div class="plate__media-wrapper" id="plate__media-2">
                                <video id="plate_player-2" controls>
                                    <source src="./images/videos/plate2.mp4" type="video/mp4" />
                                </video>
                                <img src="images/section3/icon-2.png" alt="" class="plate__imgae-credit" />
                            </div>

                            <div class="plate__text-wrapper text-output-wrapper">
                                <p class="plate__intro intro">INSTALLATION AF EN OPLADNINGSSTATION TIL BILER</p>

                                <p>
                                    Installationen af solpaneler i kombination med bilopladning tilbyder flere fordele og optimale løsninger for infrastrukturen til elektrisk
                                    mobilitet. Her er nogle grunde til, hvorfor denne kombination er gavnlig:
                                </p>
                                <ul>
                                    <li>
                                        Fornybar og miljøvenlig energi: Solpaneler genererer elektricitet fra solens stråling, hvilket gør det fuldstændig fornybart og
                                        miljøvenligt. At oplade din bil med solenergi hjælper med at reducere din afhængighed af fossile brændstoffer og mindsker dit kulstofaftryk.
                                    </li>
                                    <li>
                                        Økonomisk fordel: Installation af solpaneler giver dig mulighed for at producere din egen elektricitet gratis. Dette reducerer eller
                                        eliminerer omkostningerne ved at købe elektricitet fra nettet for at oplade bilen. Som resultat sparer ejere af elbiler på månedlige
                                        elregninger.
                                    </li>
                                    <li>
                                        Uafhængighed fra elnettet: Installation af solpaneler i kombination med bilopladning sikrer uafhængighed fra elnettet. Du kan oplade din bil
                                        direkte fra solpanelerne, selv hvis nettet er slukket, eller der mangler strøm.
                                    </li>
                                    <li>
                                        Optimal udnyttelse af solenergi: At oplade din bil ved hjælp af solenergi giver dig mulighed for at udnytte den genererede energi optimalt.
                                        Tiderne, hvor solenergi genereres mest intensivt, falder ofte sammen med spidsperioder for bilopladning, især i løbet af dagen.
                                    </li>
                                    <li>
                                        Sælge overskydende energi til nettet: Hvis din bil er fuldt opladet, og solpanelerne stadig genererer energi, kan du sælge overskydende
                                        elektricitet tilbage til nettet. Dette giver dig mulighed for at modtage indkomst eller kompensation for den energi, du producerer.
                                    </li>
                                </ul>

                                <p>
                                    Som et resultat giver installationen af solpaneler i kombination med bilopladning en miljøvenlig, omkostningseffektiv og uafhængig løsning til
                                    opladning af elektriske køretøjer. Det udnytter solenergi optimalt, reducerer energiomkostningerne og bidrager til et mere bæredygtigt og
                                    miljøansvarligt transportsystem. Easee Charging Station er en innovativ løsning til elektriske køretøjer, der giver bekvem, sikker og høj
                                    opladningspræstation. Her er beskrivelsen af Easee-opladning:
                                </p>
                                <ul>
                                    <li>
                                        Stilfuldt og kompakt design: Easee-opladningsstationen har et moderne og attraktivt design, der passer perfekt ind i enhver type arkitektur
                                        og miljø. Den kompakte størrelse gør det muligt at montere den på en væg eller pæl uden behov for meget plads.
                                    </li>
                                    <li>
                                        Smart opladning: Easee-opladningsstationen er udstyret med intelligente funktioner, der sikrer, at dit elektriske køretøj oplades optimalt.
                                        Den justerer automatisk opladningskraften i henhold til din bils behov, hvilket giver dig mulighed for at opnå den optimale
                                        opladningshastighed uden at overbelaste det elektriske netværk.
                                    </li>
                                    <li>
                                        Hurtig opladning: Easee-opladningsstationen har en høj opladningskapacitet, der giver dig mulighed for hurtigt at fylde din elektriske
                                        køretøjsbatteri. Opladningshastigheden kan være op til 22 kW, hvilket markant reducerer tiden, der kræves for at oplade køretøjet fuldt ud.
                                    </li>
                                    <li>
                                        Sikkerhed og pålidelighed: Easee tilbyder en høj grad af sikkerhed og pålidelighed. Den har indbygget beskyttelse mod overspænding,
                                        overophedning og kortslutning, hvilket garanterer sikkerhed under opladning. Opladningsstationen er også udstyret med et overvågningssystem,
                                        der advarer om mulige problemer og giver information om opladningsstatus.
                                    </li>
                                    <li>
                                        App-integration og kontrol: Easee-opladningsstationen kan integreres og styres gennem en dedikeret app på din smartphone. Appen giver dig
                                        adgang til opladningsovervågning, brugsstatistik, styring af opladningsplan og mange flere funktioner til at administrere din
                                        opladningsstation bekvemt og effektivt.
                                    </li>
                                </ul>
                                <p>
                                    Easee-opladningsstationen tilbyder innovative funktioner, sikkerhed og høj opladningsydelse til elektriske køretøjer. Dens stilfulde design,
                                    intelligente funktionalitet og app-styring gør den til et attraktivt og bekvemt valg for ejere af elektriske køretøjer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gradient">
            <canvas id="canvas-basic"></canvas>
        </section>
        <section class="section-4 calculator">
            <div class="container">
                <div class="section-4__inner inner">
                    <p class="section-4__lead lead">Beregning af solgenerering for kraftværker</p>
                    <p class="section-4__intro intro">BEREGN FORTJENESTEN FRA ET PRIVAT SOLCELLEANLÆG I HENHOLD TIL UDBYTTEPROGRAMMET</p>
                    <p class="section-4__intro section-4__intro--2 intro intro--orange">Angiv den nødvendige effekt</p>

                    <div class="section-4__input">
                        <p class="range__label subtitle">Nødvendig effekt</p>
                        <div class="range">
                            <input class="range__input" type="range" id="range-1" value="25" min="1" max="50" />
                            <div class="range__output" data-output>
                                <div class="range__output-values">0<span>kW</span></div>
                            </div>
                        </div>
                        <p class="range__label subtitle">Elektricitetsforbrug pr. måned</p>
                        <div class="range">
                            <input class="range__input" type="range" id="range-2" value="0" min="0" max="1000" />
                            <div class="range__output" data-output>
                                <div class="range__output-values">0<span>kW</span></div>
                            </div>
                        </div>
                    </div>

                    <p class="section-4__intro intro intro--orange">BEREGNINGER</p>
                    <hr />
                    <div class="calculation">
                        <p class="calculation__text text">Tilbagebetaling SES:</p>
                        <div class="lines">
                            <div class="lines__KPI">
                                <div class="number number--wrapper1">
                                    <p class="number-1"><span id="number-1"></span> <i class="fad fa-euro-sign"></i></p>
                                    <div class="number__descr">Gennemsnitlig indkomst pr. år</div>
                                </div>
                                <div class="number number--wrapper2">
                                    <p class="number-2"><span id="number-2"></span><i class="fad fa-euro-sign"></i></p>
                                    <p class="number__descr">Gennemsnitlig indkomst pr. 5 år</p>
                                </div>
                                <div class="number number--wrapper3">
                                    <p class="number-3"><span id="number-3"></span><i class="fad fa-euro-sign"></i></p>
                                    <p class="number__descr">Samlet indkomst fra stationen</p>
                                </div>
                            </div>
                            <div class="lines__line-item-3"></div>
                            <div class="lines__line-item-2"></div>
                            <div class="lines__line-item-1"></div>
                            <div class="lines__time">
                                <div class="lines__time-item">
                                    <p class="lines__time-item-title">5 år</p>
                                    <p class="lines__time-item-descr">effektgenerering</p>
                                </div>
                                <div class="lines__time-item">
                                    <p class="lines__time-item-title">50+ år</p>
                                    <p class="lines__time-item-descr">effektgenerering</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calculation">
                        <p class="calculation__text text">Generation SES:</p>
                        <div class="lines">
                            <div class="lines__KPI">
                                <div class="number number--wrapper1">
                                    <p class="number-1" id="generationPerYear"><span>KWh</span></p>
                                    <div class="number__descr">Gennemsnitlig indkomst pr. år</div>
                                </div>
                                <div class="number number--wrapper2">
                                    <p class="number-2" id="generationPer5Years"><span>KWh</span></p>
                                    <p class="number__descr">Gennemsnitlig indkomst pr. 5 år</p>
                                </div>
                                <div class="number number--wrapper3 number--hidden"></div>
                            </div>
                            <div class="lines__line-item-3 lines__line-item-3--yellow"></div>
                            <div class="lines__line-item-2 lines__line-item-2--yellow"></div>
                            <div class="lines__line-item-1 lines__line-item-1--yellow"></div>
                            <div class="lines__time">
                                <div class="lines__time-item"></div>
                                <div class="lines__time-item lines__time-item--inline">
                                    <p class="lines__time-item-title">50+ år</p>
                                    <p class="lines__time-item-descr">Tilbagebetalingstid for SES</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="partners">
            <div class="container">
                <p class="partners__title intro">Vores samarbejdspartnere</p>
                <div class="partners__inner">
                    <div class="partners__item">
                        <a href="https://www.huawei.com/en/">
                            <img src="images/partners/Picture1.png" alt="" />
                        </a>
                    </div>
                    <div class="partners__item">
                        <a href="https://enphase.com/">
                            <img src="images/partners/Picture2.png" alt="" />
                        </a>
                    </div>
                    <div class="partners__item">
                        <a href="https://easee.com/">
                            <img src="images/partners/Picture3.png" alt="" />
                        </a>
                    </div>
                    <div class="partners__item">
                        <a href="https://au.growatt.com/">
                            <img src="images/partners/Picture4.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-5 ourProjects" id="ourProjects">
            <div class="container">
                <div class="section-5__inner inner">
                    <div class="section-5__overview">
                        <p class="section-5__intro intro intro--line-left">
                            SUNWAY LØSNINGER <br />
                            TILBYDER EN RÆKKE FORDELE <br />
                        </p>
                        <p class="section-5__lead lead">Vores projekter</p>
                        <div class="section-5__img">
                            <img src="images/section5/solarpanelsonhouse.jpg" alt="about-solar" />
                        </div>
                    </div>
                    <div class="section-5__list">
                        <div class="section-5__list-item">
                            <i class="fas fa-tools"></i>
                            <p class="section-5__list-title intro">INTEGRERET TILGANG</p>
                            <p class="section-5__list-text text">
                                Vi tilbyder omfattende løsninger, der inkluderer en komplet række af tjenester - lige fra rådgivning og design til installation og vedligeholdelse.
                            </p>
                        </div>
                        <div class="section-5__list-item">
                            <i class="fas far fa-power-off"></i>
                            <p class="section-5__list-title intro">INNOVATIVE TEKNOLOGIER</p>
                            <p class="section-5__list-text text">
                                Vi tilbyder avancerede teknologier som mikroinverter-systemer, intelligente opladningsstationer og overvågningssystemer.
                            </p>
                        </div>
                        <div class="section-5__list-item">
                            <i class="fas fa-solid fas fa-stars"></i>
                            <p class="section-5__list-title intro">KVALITET OG PÅLIDELIGHED</p>
                            <p class="section-5__list-text text">
                                Alle vores komponenter og materialer er meget pålidelige og opfylder strenge krav for at forbedre systemets nøjagtighed og effektivitet.
                            </p>
                        </div>
                        <div class="section-5__list-item">
                            <i class="fas fa-solar-panel"></i>
                            <p class="section-5__list-title intro">VIDEN OG ERFARING</p>
                            <p class="section-5__list-text text">
                                Vi har viden inden for ingeniørfaget og eliminering af nødsystemer samt inden for vedligeholdelse og overvågning.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-8">
            <div class="section-8__inner inner">
                <div class="seciton-8__gallery gallery">
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels1.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels10.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels11.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels12.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels13.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels14.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels5.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels2.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels3.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels4.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels5.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels6.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels7.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels8.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels9.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/circuitbreakerforsolarpanels.jpg" loading="lazy" alt="" /></div>
                </div>
                <button class="gallery__btn main-button" id="moreButton">Vis Mere</button>
            </div>
        </section>
        <section class="section-6 team">
            <div class="container">
                <div class="section-6__inner inner">
                    <p class="section__intro intro intro--line-center">KVALIFICEREDE FAGFOLK</p>
                    <p class="lead">Vores Team</p>
                    <div class="section-6__tiles tiles">
                        <div class="tiles__item">
                            <img src="images/section6/worker.jpg" alt="" />
                            <div class="tiles__item-content">
                                <p class="tiles__item-worker-name">Robert Smith</p>
                                <p class="tiles__item-worker-occupation">Ingeniør</p>
                            </div>
                        </div>
                        <div class="tiles__item">
                            <img src="images/section6/worke3.jpg" alt="" />
                            <div class="tiles__item-content">
                                <p class="tiles__item-worker-name">Ruslan</p>
                                <p class="tiles__item-worker-occupation">Elektriker-installatør</p>
                            </div>
                        </div>
                        <div class="tiles__item">
                            <img src="images/section6/worker4.jpg" alt="" />
                            <div class="tiles__item-content">
                                <p class="tiles__item-worker-name">Andrew</p>
                                <p class="tiles__item-worker-occupation">Installationsholdleder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="VuePages">
            <div class="container">
                <div class="VuePages__inner inner" id="app">
                    <div class="VuePages__button-wrapper">
                        <button class="main-button" v-on:click="showPage(1)">til hjemmet</button>
                        <button class="main-button" v-on:click="showPage(2)">til landmænd</button>
                        <button class="main-button" v-on:click="showPage(3)">til erhvervslivet</button>
                    </div>
                    <Transition mode="out-in" v-bind:name="'go' + direction">
                        <div class="pageFirst vue-page" v-if="number == 1">
                            <p class="pageFirst__intro intro intro--orange">Udnyt solenergiens kraft til dit hjem</p>
                            <ul class="list">
                                <li class="list-item">
                                    <i class="fal fa-sun"></i>
                                    <p class="list-item-text text">Embrace the Sun's Energy and Be Currency-Independent.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fal fa-coin"></i>
                                    <p class="list-item-text text">Omfavn solens energi og vær uafhængig af valuta.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fas fa-home-heart"></i>
                                    <p class="list-item-text text">Nyd uafbrudt elektricitet hele året rundt.</p>
                                </li>
                            </ul>
                            <p class="pageFirst__intro intro intro--orange">Hvordan solenergi fungerer for private hjem</p>
                            <div class="pageFirst__group">
                                <div class="pageFirst__img">
                                    <img src="images/vuePages/solar1.gif" alt="" />
                                </div>
                                <div class="pageFirst__text-wrapper">
                                    <p class="pageFirst__intro intro intro--orange">Tre typer af solcellesystemer</p>
                                    <p class="pageFirst__text text">Diagrammet illustrerer driften af solkraftstationer med forskellige tilslutnings- og energilagringsmetoder.</p>
                                    <p class="pageFirst__text text">
                                        Solkraftsystemer er velegnede til alle boligejere. Alt hvad du behøver at gøre er at vælge den rigtige type station, og vores team vil
                                        håndtere resten.
                                    </p>
                                </div>
                            </div>
                            <p class="pageFirst__intro intro intro--orange">Solkraftsystemer til boligforbrug findes i tre typer:</p>
                            <ul class="list list--left">
                                <li class="list-item">
                                    <i class="fas fa-solar-panel"></i>
                                    <p class="list-item__intro intro--orange intro">Nettilsluttet system</p>
                                    <p class="list-item-text text">Ideel til hjem, der er tilsluttet elnettet - Hjælper dig med at spare på energiomkostninger.</p>
                                </li>
                                <li class="list-item">
                                    <i class="far fa-cog"></i>
                                    <p class="list-item__intro intro--orange intro">System uden for elnettet</p>
                                    <p class="list-item-text text">Perfekt til fjerntliggende steder uden adgang til elnettet - Opnå energiuafhængighed.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fas fa-eclipse-alt"></i>
                                    <p class="list-item__intro intro--orange intro">Hybridsystem</p>
                                    <p class="list-item-text text">Tilbyder det bedste fra begge verdener ved at kombinere netforbindelse og batteribackup.</p>
                                </li>
                            </ul>
                        </div>

                        <div class="pageSecond vue-page" v-if="number == 2">
                            <p class="pageSecond__intro intro intro--orange">Solenergiløsninger til dit hjem</p>
                            <ul class="list">
                                <li class="list-item">
                                    <i class="fal fa-sun"></i>
                                    <p class="list-item-text text">Udnyt solenergi og reducer dit CO2-fodspor.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fal fa-coin"></i>
                                    <p class="list-item-text text">Spar penge med vedvarende energi.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fas fa-home-heart"></i>
                                    <p class="list-item-text text">Nyd uafbrudt elektricitet hele året rundt.</p>
                                </li>
                            </ul>
                            <p class="pageSecond__intro intro intro--orange">Hvordan solenergi fungerer for private hjem</p>
                            <div class="pageSecond__group">
                                <div class="pageSecond__img">
                                    <img src="images/vuePages/farm.jpg" alt="" />
                                </div>
                                <div class="pageSecond__text-wrapper">
                                    <p class="pageSecond__intro intro intro--orange">I DAG PRAKTISERES TRE-FOLDET PLACERING AF SOLMODULER PÅ LANDBRUG:</p>
                                    <ol class="text farms-list">
                                        <li>
                                            As a canopy - the panel is characterized by an optimal slope at a certain height from the ground, using them to generate energy and at
                                            the same time protect from the atmosphere.
                                        </li>
                                        <li>På tag - om det er taget på et drivhus, en husdyrbrug eller en lade</li>
                                        <li>På landbrugsparceller - den sædvanlige forbindelse bliver til en åbning mellem rækkerne af grøntsags- og melonafgrøder.</li>
                                    </ol>
                                    <p class="pageSecond__text text pageSecond__text--about-systems">
                                        Solenergisystemer er velegnede til alle husstande. Alt hvad du behøver at gøre, er at vælge den rigtige type station, og vores team vil
                                        håndtere resten.
                                    </p>
                                </div>
                            </div>
                            <p class="pageSecond__text text">Solenergisystemer til boligforbrug kommer i tre typer:</p>
                            <ul class="list list--left">
                                <li class="list-item">
                                    <i class="fas fa-solar-panel"></i>
                                    <p class="list-item__intro intro--orange intro">Nettilsluttet system</p>
                                    <p class="list-item-text text">Ideel til hjem tilsluttet elnettet - Hjælper dig med at spare på forsyningsomkostninger.</p>
                                </li>
                                <li class="list-item">
                                    <i class="far fa-cog"></i>
                                    <p class="list-item__intro intro--orange intro">System uden for elnettet</p>
                                    <p class="list-item-text text">Perfekt til fjerntliggende steder uden adgang til elnettet - Opnå energiuafhængighed.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fas fa-eclipse-alt"></i>
                                    <p class="list-item__intro intro--orange intro">Hybridsystem</p>
                                    <p class="list-item-text text">Tilbyder det bedste fra begge verdener ved at kombinere netforbindelse og batteri-backup.</p>
                                </li>
                            </ul>
                        </div>

                        <div class="pageThird vue-page" v-if="number == 3">
                            <p class="pageThird__intro intro intro--orange">Styrker virksomheder med solenergi.</p>
                            <ul class="list">
                                <li class="list-item">
                                    <i class="fal fa-sun"></i>
                                    <p class="list-item-text text">Fleksible løsninger skræddersyet til dine forretningsbehov.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fal fa-coin"></i>
                                    <p class="list-item-text text">Forstærk din virksomheds bæredygtighed og samfundsansvar.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fal fa-monitor-heart-rate"></i>
                                    <p class="list-item-text text">Opnå langsigtede besparelser på energiomkostninger.</p>
                                </li>
                            </ul>

                            <div class="pageThird__text-wrapper">
                                <p class="pageThird__intro intro intro--orange">For detaljeret information om et kommercielt projekt, udfyld formularen nedenfor:</p>
                                <div class="pageThird__indicator indicator" @click="goToForm">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>

                            <ul class="list list--left">
                                <li class="list-item">
                                    <i class="fas fa-solar-panel"></i>
                                    <p class="list-item__intro intro--orange intro">Design og Planlægning</p>
                                    <p class="list-item-text text">Vi udarbejder forretnings-specifikke planer og installationsdokumentation til din virksomhed.</p>
                                </li>
                                <li class="list-item">
                                    <i class="far fa-cog"></i>
                                    <p class="list-item__intro intro--orange intro">Nettilsluttet system</p>
                                    <p class="list-item-text text">Ideelt for virksomheder tilsluttet elnettet - Hjælper dig med at spare på forsyningsomkostninger.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fas fa-eclipse-alt"></i>
                                    <p class="list-item__intro intro--orange intro">System uden for elnettet</p>
                                    <p class="list-item-text text">Passer til fjerntliggende virksomheder og sikrer energiuafhængighed og bæredygtighed.</p>
                                </li>
                            </ul>
                        </div>
                    </Transition>
                </div>
            </div>
        </section>
        <section class="section-7 contacts" id="contacts">
            <div class="banner">
                <div class="banner__inner">
                    <p class="banner__lead lead">Kontakt</p>
                    <p class="banner__intro intro">Har du brug for hjælp eller har du et spørgsmål?</p>
                </div>
            </div>
            <div class="container">
                <div class="section-7__content">
                    <div class="section-7__box inner">
                        <p class="section-7__intro intro intro--line-left">Kontakt os</p>
                        <p class="section-7__lead lead">Få en konsultation?</p>
                        <p class="section-7__text text">Indtast dine kontaktoplysninger, og vi vender tilbage til dig så hurtigt som muligt..</p>
                        <ul class="list">
                            <li class="list__item"><i aria-hidden="true" class="far fa-sun"></i> <a href="tel:+31638578917">+31 6 3857 8917</a></li>
                            <hr />
                            <li class="list__item"><i aria-hidden="true" class="far fa-sun"></i> <a href="tel:+31684400805">+31 6 8440 0805</a></li>
                            <hr />
                            <li class="list__item"><i aria-hidden="true" class="far fa-sun"></i> sunwaysolutions.nl@gmail.com</li>
                            <hr />
                            <li class="list__item"><i aria-hidden="true" class="far fa-sun"></i>Rijnlaan 28 a bis 3522 BN Utrecht</li>
                            <hr />
                        </ul>
                    </div>
                    <div class="form-wrapper">
                        <form class="form" id="form">
                            <div class="form__box">
                                <input type="text" id="fname" name="fname" placeholder="navn" />
                                <label for="fname">Navn</label>
                            </div>
                            <div class="form__box">
                                <input type="text" id="fnumber" name="fnumber" placeholder="nummer" />
                                <label for="fnumber">Nummer</label>
                            </div>
                            <div class="form__box">
                                <input type="text" id="fmail" name="fmail" placeholder="mail" />
                                <label for="fmail">Email</label>
                            </div>
                            <div class="form__box">
                                <textarea type="textarea" id="ftextarea" name="ftextarea" placeholder="textarea"></textarea>
                                <label for="ftextarea">Besked</label>
                            </div>
                            <button class="form__btn main-button">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="certificates">
            <!-- <div class="container"> -->
            <p class="certificates__title intro">Vores certifikater</p>
            <div class="certificates-wrapper">
                <div class="certificates__inner">
                    <div class="certificates__item">
                        <img src="images/certificates/cert1.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert2.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert3.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert4.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert1.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert2.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert3.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert4.png" alt="" />
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="footer__inner inner">
                    <a href="#" class="footer__logo logo">
                        <img src="images/logo.jpg" alt="" />
                    </a>
                    <div class="footer__bottom">
                        <p class="footer__text text">Vi tilbyder et bredt udvalg af kvalitetsinstallationstjenester til solpaneler.</p>
                        <div class="social">
                            <div class="social__item">
                                <a href="https://www.facebook.com/people/Sunway-Solutions/100094297163058/">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                            <div class="social__item">
                                <a href="https://www.instagram.com/sunwaysolutions.nl"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script defer src="js/libs.min.js"></script>
        <script defer src="https://unpkg.com/vue@next"></script>
        <script defer src="js/main.js"></script>
    </body>
</html>
