<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Solar</title>
        <link rel="stylesheet" href="fonts/font-awesome-5.css" />
        <link rel="stylesheet" href="css/style.min.css" />
        <link rel="icon" type="image/x-icon" href="images/favicon.png" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
            integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    </head>

    <body>
        <header class="header">
            <div class="container-header">
                <div class="header__inner">
                    <a href="#" class="logo">
                        <img src="images/logo.jpg" alt="" />
                    </a>
                    <nav class="header__menu">
                        <ul class="header__menu-items">
                            <li class="header__menu-item">
                                <a href="#about">Over Sunway Solutions</a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#services">Diensten</a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#ourProjects">Onze projecten</a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#contacts">Contacten</a>
                            </li>
                        </ul>
                    </nav>
                    <a class="main-button header__contact" href="#form">
                        <i aria-hidden="true" class="fas fa-envelope"></i>
                        <p>Krijg contact</p>
                    </a>
                    <div class="lang-dropdown">
                        <p>NL</p>
                        <div class="lang-dropdown__item">
                            <a href="./nl">EN</a>
                        </div>
                    </div>
                    <div class="header__menu-btn" id="menuBtn">
                        <span class="header__menu-btn-line"></span>
                    </div>
                </div>
            </div>
        </header>
        <section class="section-1">
            <div class="container-section-1">
                <div class="section-1__inner" data-aos="fade-right">
                    <p class="section-1__intro intro">Oplossing voor de installatie van zonnepanelen</p>
                    <p class="section-1__lead">Energie voor huizen<br />Met zonnepanelen</p>
                    <button class="section-1__button main-button toForm">Ontdek meer</button>
                </div>
            </div>
            <span class="section-1__text-outline" data-aos="zoom-in-down" data-aos-offset="-100">Energie</span>
        </section>
        <section class="about" id="about">
            <div class="container">
                <div class="about__inner inner text-output-wrapper">
                    <div class="about__box" data-aos="fade-left" data-aos-offset="200">
                        <p class="about__intro">Over ons</p>
                        <ul>
                            <li>
                                Een team van jonge gecertificeerde specialisten die pleitbezorgers zijn van groene energie, biedt een unieke kans voor alle inwoners van Nederland
                                om hun eigen elektriciteit te genereren en actief deel te nemen aan het creëren van een milieuvriendelijker land.
                            </li>
                            <li>
                                Onze missie is om de inwoners van Nederland te helpen en in staat te stellen energie en passief inkomen te ontvangen. Dit dankzij de installatie van
                                hoogwaardige, energiezuinige en milieuvriendelijke zonnepaneleninstallaties. We ontwerpen, installeren, verbinden, documenteren en ondersteunen onze
                                klanten gedurende de volledige werking van een energiecentrale.
                            </li>
                            <li>
                                Wij bieden gunstige financiële voorwaarden voor de uitvoering van projecten voor de productie van onze eigen elektriciteit. Diverse
                                financieringsmodellen zijn beschikbaar, waaronder apparatuurverhuur, subsidies en ondersteuningsprogramma's. Onze experts zullen u helpen de
                                financiële aspecten te begrijpen en de beste oplossing voor u te kiezen.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-2">
            <div class="container">
                <div class="section-2__inner inner">
                    <div class="section-2__img-part" data-aos="flip-up" data-aos-offset="200">
                        <div class="section-2__img-wrapper">
                            <img src="images/section2/photo334.jpg" alt="worker" />
                            <div class="section-2__img-credit">
                                12<sup>+</sup><br />
                                <span>Jarenlange <br />Ervaring</span>
                            </div>
                        </div>
                    </div>
                    <div class="section-2__section-content">
                        <p class="section-2__intro intro intro--line-left">ONZE INLEIDING</p>
                        <p class="section-2__lead lead">Diensten van Sunway Solutions</p>
                        <p class="section-2__text text">
                            Bij Sunway Solutions kunt u de beste oplossing voor uw behoeften en voorkeuren kiezen. We garanderen de hoge kwaliteit van al onze producten, die zijn
                            geclassificeerd als klasse A, en bieden er langetermijngaranties voor aan. Ons team van experts staat klaar om u de volgende mogelijkheden te bieden:
                        </p>
                        <hr />
                        <div class="section-2__title">
                            <i aria-hidden="true" class="far fa-sun"></i>
                            <h3>Service en Reiniging</h3>
                        </div>

                        <p>
                            Wij bieden service voor uw zonnepanelen om ervoor te zorgen dat ze optimaal presteren en lang meegaan. Ons team van experts zal uw systeem regelmatig
                            inspecteren en onderhouden.
                        </p>
                        <div class="section-2__title">
                            <i aria-hidden="true" class="far fa-sun"></i>
                            <h3>Laadstations</h3>
                        </div>

                        <p>
                            Als u een elektrische auto heeft of van plan bent er een te kopen, bieden wij de Easee Charging Robot aan, een slimme, compacte, op zonne-energie
                            werkende autolader.
                        </p>
                        <hr />
                        <div class="section-2__content-group">
                            <button class="main-button toForm">Meer weten</button>
                            <div class="section-2__phone phone-group">
                                <div class="phone-group__phone-icon">
                                    <i aria-hidden="true" class="fas fa-phone-volume"></i>
                                </div>
                                <div class="phone-group__items">
                                    <p class="phone-group__text">Heeft u vragen?</p>
                                    <a href="tel:+31638578917" class="phone-group__phone-link">+31 6 3857 8917</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-3" id="services">
            <div class="container">
                <div class="section-3__inner inner">
                    <p class="section-3__intro intro intro--line-center">WAT WE DOEN</p>

                    <p class="section-3__lead lead">Onze Diensten</p>
                    <div class="section-3__plates">
                        <div class="plate">
                            <div class="plate__media-wrapper" id="plate__media-1">
                                <video id="plate_player-1" controls>
                                    <source src="images/videos/plate1.mp4" type="video/mp4" />
                                </video>
                                <img src="images/section3/icon-1.png" alt="" class="plate__imgae-credit" />
                            </div>
                            <div class="plate__text-wrapper text-output-wrapper">
                                <p class="plate__intro intro">INSTALLATIE, DEMONTAGE, REINIGING, ONDERHOUD</p>
                                <h2>Installatie van zonnepanelen door Sunway Solutions</h2>
                                <p>De installatie van zonnepanelen door Sunway Solutions voor klanten omvat de volgende stappen:</p>
                                <ol>
                                    <li>
                                        Initieel Consult: Ons team voert een initiële consultatie uit met de klant om hun energiebehoeften te begrijpen en de mogelijkheden voor het
                                        installeren van zonnepanelen te beoordelen. We bespreken de grootte van het systeem, het budget van de klant, en verstrekken de benodigde
                                        informatie.
                                    </li>
                                    <li>
                                        Locatieanalyse: We voeren een gedetailleerde analyse uit van de locatie waar de zonnepanelen gepland zijn te worden geïnstalleerd. We
                                        onderzoeken de beschikbare ruimte voor het installeren van panelen om de meest efficiënte configuratie te bepalen.
                                    </li>
                                    <li>
                                        Systeemontwerp: Op basis van de gegevens verkregen uit de vorige stappen, ontwikkelt ons team een individueel ontwerp voor het zonnesysteem,
                                        rekening houdend met de behoeften van de klant.
                                    </li>
                                    <li>
                                        Aanbieding verstrekken: We voorzien de klant van een gedetailleerd aanbod, inclusief de technische specificaties van het systeem, de kosten,
                                        de installatietijd en de garantie.
                                    </li>
                                    <li>
                                        Installatie: Nadat we het voorstel hebben goedgekeurd en het contract hebben ondertekend, gaan we verder met de installatie van
                                        zonnepanelen. Ons professionele team voert de installatie zorgvuldig uit, inclusief het plaatsen van bevestigingsmiddelen, zonnepanelen en
                                        elektrische verbindingen.
                                    </li>
                                    <li>
                                        Netverbinding: Nadat de zonnepanelen zijn geïnstalleerd, zullen we uw systeem aansluiten op het elektriciteitsnet. Dit omvat het installeren
                                        van de omvormer, aansluiten op de elektrische panelen en het uitvoeren van eventuele noodzakelijke controles en aanpassingen.
                                    </li>
                                    <li>
                                        Testen en in werking stellen: We testen en valideren het systeem om ervoor te zorgen dat het correct werkt en presteert. Na succesvolle
                                        tests stellen we u een volledig rapport ter beschikking over de werking van het systeem en tonen we de functionaliteit ervan aan.
                                    </li>
                                    <li>
                                        Training en service: We bieden klantentraining aan over hoe het zonnesysteem te gebruiken en te beheren. Bovendien bieden we after-sales
                                        service aan om regelmatig het systeem te controleren en te onderhouden, zodat een betrouwbare werking gedurende de hele levensduur wordt
                                        gegarandeerd.
                                    </li>
                                </ol>
                                <!--Dismantling-->
                                <h2>Demontage van zonnepanelen</h2>
                                <p>
                                    Het demonteren van zonnepanelen is het proces van het verwijderen en uit elkaar halen van zonnemodules, dat kan worden uitgevoerd in de volgende
                                    gevallen: bij het vervangen van oude panelen door nieuwe, bij het verplaatsen van het systeem, bij het renoveren van een gebouw, of wanneer
                                    onderhoud en reparatie vereist zijn. Hieronder staan de stappen die doorgaans zijn opgenomen in het proces van het demonteren van zonnepanelen:
                                </p>
                                <ul>
                                    <li>Beoordeling en voorbereiding: Aan het begin van het proces wordt een beoordeling en planning van de demontage uitgevoerd.</li>
                                    <li>Demontage van fotovoltaïsche modules: Elke zonnemodule moet voorzichtig worden verwijderd van zijn bevestigingen.</li>
                                    <li>
                                        Verwijderen van de bevestigingen: Nadat de modules zijn verwijderd, ga verder met het verwijderen van de bevestigingen die de zonnepanelen
                                        op hun plaats houden.
                                    </li>
                                    <li>
                                        Ontkoppelen van elektrische verbindingen: Een belangrijke stap is het loskoppelen van de elektrische verbindingen en draden die bij de
                                        zonnepanelen horen.
                                    </li>
                                    <li>Verpakken en vervoeren: Na demontage moeten de componenten van het zonnesysteem worden ingepakt en klaargemaakt voor transport.</li>
                                    <li>Afbraak en recycling: Na demontage van de zonnepanelen moet het afval op de juiste manier worden afgevoerd en gerecycled.</li>
                                </ul>

                                <!--Cleaning-->
                                <h2>Reiniging van zonnepaneel</h2>
                                <p>Sunway Solutions biedt professionele reiniging van zonnepanelen met behulp van de beste methode, die de volgende stappen omvat:</p>
                                <ol>
                                    <li>Voorlopige schatting</li>
                                    <li>Veiligheid:</li>
                                    <li>Gebruik van optimale gereedschappen en apparatuur</li>
                                    <li>Verwijdering van verontreinigingen</li>
                                    <li>Drogen en controleren</li>
                                    <li>Documentatie</li>
                                </ol>
                                <p>
                                    Ons team van specialisten bij Sunway Solutions heeft ervaring in het reinigen van zonnepanelen, en zorgt voor de veiligheid, efficiëntie en
                                    levensduur van uw zonnesysteem. We zijn toegewijd om onze klanten het hoogste niveau van service te bieden en te helpen bij het behouden van
                                    optimale prestaties van de zonnepanelen.
                                </p>
                                <!--Maintanance-->
                                <h1>Onderhoud van zonnepaneel</h1>
                                <p>
                                    Sunway Solutions biedt een volledig scala aan technische diensten en ondersteuning voor zonnepanelen, omvormers, batterijen en opladers. Hier
                                    zijn onze belangrijkste aspecten van hoogwaardige service:
                                </p>
                                <ul>
                                    <li>Monitoringsdienst</li>
                                    <li>Installatiehandleiding</li>
                                    <li>Foutafhandeling en RMA</li>
                                </ul>
                                <p>
                                    Sunway Solutions is toegewijd aan het bieden van het hoogste niveau van technische ondersteuning en service aan onze klanten. Ons team van
                                    experts heeft uitgebreide ervaring met zonnesystemen en staat klaar om oplossingen aan te bieden om de prestaties en betrouwbaarheid van uw
                                    panelen, omvormers, batterijen en opladers te optimaliseren.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="introduction" data-aos="zoom-in" data-aos-offset="300">
            <div class="container">
                <div class="introduction__inner inner">
                    <div class="introduction__box">
                        <div class="introduction__content">
                            <p class="introduction__lead lead">Bedrijfsgarantie</p>
                            <p class="introduction__text text">
                                Wij bieden altijd een garantieperiode voor alle soorten werk. De garantieperiode varieert tot 25 jaar, afhankelijk van het type geïnstalleerde
                                apparatuur.
                            </p>
                            <button class="introduction__btn main-button toForm">Meer informatie</button>
                        </div>
                        <div class="introduction__image-wrapper">
                            <img src="images/intro/block-img.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-3" id="services">
            <div class="container">
                <div class="section-3__inner inner">
                    <div class="section-3__plates">
                        <div class="plate plate--right">
                            <div class="plate__media-wrapper" id="plate__media-2">
                                <video id="plate_player-2" controls>
                                    <source src="./images/videos/plate2.mp4" type="video/mp4" />
                                </video>
                                <img src="images/section3/icon-2.png" alt="" class="plate__imgae-credit" />
                            </div>

                            <div class="plate__text-wrapper text-output-wrapper">
                                <p class="plate__intro intro">INSTALLATIE VAN EEN OPLAADSTATION VOOR AUTO'S</p>

                                <p>
                                    De installatie van zonnepanelen in combinatie met het opladen van auto's biedt verschillende voordelen en optimale oplossingen voor de
                                    infrastructuur van elektrische mobiliteit. Hier zijn een paar redenen waarom deze combinatie gunstig is:
                                </p>
                                <ul>
                                    <li>
                                        Hernieuwbare en milieuvriendelijke energie: Zonnepanelen genereren elektriciteit uit zonnestraling, waardoor het volledig hernieuwbaar en
                                        milieuvriendelijk is. Uw auto opladen met zonne-energie helpt uw afhankelijkheid van fossiele brandstoffen te verminderen en vermindert uw
                                        ecologische voetafdruk.
                                    </li>
                                    <li>
                                        Economisch voordeel: Het installeren van zonnepanelen stelt u in staat om gratis uw eigen elektriciteit te produceren. Dit vermindert of
                                        elimineert de kosten van het kopen van elektriciteit van het elektriciteitsnet om de auto op te laden. Als gevolg hiervan besparen eigenaren
                                        van elektrische voertuigen op maandelijkse elektriciteitsrekeningen.
                                    </li>
                                    <li>
                                        Onafhankelijkheid van het elektriciteitsnet: Het installeren van zonnepanelen in combinatie met het opladen van auto's zorgt voor
                                        onafhankelijkheid van het elektriciteitsnet. U kunt uw auto rechtstreeks opladen vanuit de zonnepanelen, zelfs als het elektriciteitsnet is
                                        uitgeschakeld of als er een tekort aan stroom is.
                                    </li>
                                    <li>
                                        Optimaal gebruik van zonne-energie: Uw auto opladen met behulp van zonne-energie stelt u in staat om de gegenereerde energie optimaal te
                                        benutten. De tijden waarop zonne-energie het meest intensief wordt gegenereerd, vallen vaak samen met piekperiodes voor het opladen van
                                        auto's, vooral overdag.
                                    </li>
                                    <li>
                                        Verkoop van overtollige energie aan het elektriciteitsnet: Als uw auto volledig is opgeladen en de zonnepanelen nog steeds energie
                                        genereren, kunt u overtollige elektriciteit terug aan het elektriciteitsnet verkopen. Dit stelt u in staat om inkomen of compensatie te
                                        ontvangen voor de energie die u produceert.
                                    </li>
                                </ul>

                                <p>
                                    Als gevolg hiervan biedt de installatie van zonnepanelen in combinatie met het opladen van auto's een milieuvriendelijke, kosteneffectieve en
                                    onafhankelijke oplossing voor het opladen van elektrische voertuigen. Het maakt optimaal gebruik van zonne-energie, verlaagt energiekosten en
                                    draagt bij aan een duurzaam en milieuvriendelijk transportsysteem. Het Easee Charging Station is een innovatieve oplossing voor elektrische
                                    voertuigen die handig, veilig en met een hoge oplaadprestatie voorziet. Hier is de beschrijving van Easee opladen:
                                </p>
                                <ul>
                                    <li>
                                        Stijlvol en compact ontwerp: Het Easee oplaadstation heeft een modern en aantrekkelijk ontwerp dat perfect past bij elk type architectuur en
                                        omgeving. Dankzij het compacte formaat kan het aan een muur of paal worden gemonteerd zonder dat er veel ruimte nodig is.
                                    </li>
                                    <li>
                                        Slim Opladen: Het Easee Oplaadstation is uitgerust met slimme functies die ervoor zorgen dat uw elektrische voertuig optimaal wordt
                                        opgeladen. Het past automatisch de laadkracht aan volgens de behoeften van uw auto, wat u in staat stelt om de optimale laadsnelheid te
                                        bereiken zonder het elektriciteitsnet te overbelasten.
                                    </li>
                                    <li>
                                        Snel Opladen: Het Easee oplaadstation heeft een hoge laadcapaciteit, waardoor u snel de batterij van uw elektrische voertuig kunt opladen.
                                        De laadsnelheid kan oplopen tot 22 kW, wat de benodigde tijd om het voertuig volledig op te laden aanzienlijk verkort.
                                    </li>
                                    <li>
                                        Veiligheid en betrouwbaarheid: Easee biedt een hoog niveau van veiligheid en betrouwbaarheid. Het heeft ingebouwde bescherming tegen
                                        overbelasting, oververhitting en kortsluiting, wat veiligheid tijdens het opladen garandeert. Het oplaadstation is ook uitgerust met een
                                        monitoringsysteem dat waarschuwt voor mogelijke problemen en informatie verstrekt over de laadstatus.
                                    </li>
                                    <li>
                                        App-integratie en controle: Het Easee oplaadstation kan worden geïntegreerd en bediend via een speciale app op uw smartphone. De app geeft u
                                        toegang tot laadmonitoring, gebruikstatistieken, beheer van laadschema's en nog veel meer functies om uw oplaadstation handig en efficiënt
                                        te beheren.
                                    </li>
                                </ul>
                                <p>
                                    Het Easee oplaadstation biedt innovatieve functies, veiligheid en een hoge oplaadprestatie voor elektrische voertuigen. Zijn stijlvolle ontwerp,
                                    slimme functionaliteit en app-bediening maken het een aantrekkelijke en handige keuze voor eigenaars van elektrische voertuigen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gradient">
            <canvas id="canvas-basic"></canvas>
        </section>
        <section class="section-4 calculator">
            <div class="container">
                <div class="section-4__inner inner">
                    <p class="section-4__lead lead">Berekening van zonne-energieopwekking voor energiecentrales</p>
                    <p class="section-4__intro intro">BEREKEN DE WINST VAN EEN PRIVÉ ZONNE-ENERGIE-INSTALLATIE VOLGENS HET OPBRENGSTPROGRAMMA</p>
                    <p class="section-4__intro section-4__intro--2 intro intro--orange">Vermeld het vereiste vermogen</p>

                    <div class="section-4__input">
                        <p class="range__label subtitle">Vereist vermogen</p>
                        <div class="range">
                            <input class="range__input" type="range" id="range-1" value="25" min="1" max="50" />
                            <div class="range__output" data-output>
                                <div class="range__output-values">0<span>kW</span></div>
                            </div>
                        </div>
                        <p class="range__label subtitle">Elektriciteitsverbruik per maand</p>
                        <div class="range">
                            <input class="range__input" type="range" id="range-2" value="0" min="0" max="1000" />
                            <div class="range__output" data-output>
                                <div class="range__output-values">0<span>kW</span></div>
                            </div>
                        </div>
                    </div>

                    <p class="section-4__intro intro intro--orange">BEREKENINGEN</p>
                    <hr />
                    <div class="calculation">
                        <p class="calculation__text text">Terugverdientijd ZES:</p>
                        <div class="lines">
                            <div class="lines__KPI">
                                <div class="number number--wrapper1">
                                    <p class="number-1"><span id="number-1"></span> <i class="fad fa-euro-sign"></i></p>
                                    <div class="number__descr">gemiddeld inkomen per jaar</div>
                                </div>
                                <div class="number number--wrapper2">
                                    <p class="number-2"><span id="number-2"></span><i class="fad fa-euro-sign"></i></p>
                                    <p class="number__descr">gemiddeld inkomen per 5 jaar</p>
                                </div>
                                <div class="number number--wrapper3">
                                    <p class="number-3"><span id="number-3"></span><i class="fad fa-euro-sign"></i></p>
                                    <p class="number__descr">totaal inkomen van het station</p>
                                </div>
                            </div>
                            <div class="lines__line-item-3"></div>
                            <div class="lines__line-item-2"></div>
                            <div class="lines__line-item-1"></div>
                            <div class="lines__time">
                                <div class="lines__time-item">
                                    <p class="lines__time-item-title">5 jaar</p>
                                    <p class="lines__time-item-descr">vermogensopwekking</p>
                                </div>
                                <div class="lines__time-item">
                                    <p class="lines__time-item-title">50+ jaar</p>
                                    <p class="lines__time-item-descr">Vermogensopwekking</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calculation">
                        <p class="calculation__text text">Opwekking ZES:</p>
                        <div class="lines">
                            <div class="lines__KPI">
                                <div class="number number--wrapper1">
                                    <p class="number-1" id="generationPerYear"><span>KWh</span></p>
                                    <div class="number__descr">gemiddeld inkomen per jaar</div>
                                </div>
                                <div class="number number--wrapper2">
                                    <p class="number-2" id="generationPer5Years"><span>KWh</span></p>
                                    <p class="number__descr">gemiddeld inkomen per 5 jaar</p>
                                </div>
                                <div class="number number--wrapper3 number--hidden"></div>
                            </div>
                            <div class="lines__line-item-3 lines__line-item-3--yellow"></div>
                            <div class="lines__line-item-2 lines__line-item-2--yellow"></div>
                            <div class="lines__line-item-1 lines__line-item-1--yellow"></div>
                            <div class="lines__time">
                                <div class="lines__time-item"></div>
                                <div class="lines__time-item lines__time-item--inline">
                                    <p class="lines__time-item-title">50+ jaar</p>
                                    <p class="lines__time-item-descr">terugverdientijd van ZES</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="partners">
            <div class="container">
                <p class="partners__title intro">Onze partners</p>
                <div class="partners__inner">
                    <div class="partners__item">
                        <a href="https://www.huawei.com/en/">
                            <img src="images/partners/Picture1.png" alt="" />
                        </a>
                    </div>
                    <div class="partners__item">
                        <a href="https://enphase.com/">
                            <img src="images/partners/Picture2.png" alt="" />
                        </a>
                    </div>
                    <div class="partners__item">
                        <a href="https://easee.com/">
                            <img src="images/partners/Picture3.png" alt="" />
                        </a>
                    </div>
                    <div class="partners__item">
                        <a href="https://au.growatt.com/">
                            <img src="images/partners/Picture4.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-5 ourProjects" id="ourProjects">
            <div class="container">
                <div class="section-5__inner inner">
                    <div class="section-5__overview">
                        <p class="section-5__intro intro intro--line-left">
                            SUNWAY OPLOSSINGEN <br />
                            BIEDT EEN AANTAL VOORDELEN <br />
                        </p>
                        <p class="section-5__lead lead">Our projects</p>
                        <div class="section-5__img">
                            <img src="images/section5/solarpanelsonhouse.jpg" alt="about-solar" />
                        </div>
                    </div>
                    <div class="section-5__list">
                        <div class="section-5__list-item">
                            <i class="fas fa-tools"></i>
                            <p class="section-5__list-title intro">GEÏNTEGREERDE AANPAK</p>
                            <p class="section-5__list-text text">
                                Wij bieden uitgebreide oplossingen die een volledig scala aan diensten omvatten - van advies en ontwerp tot installatie en onderhoud.
                            </p>
                        </div>
                        <div class="section-5__list-item">
                            <i class="fas far fa-power-off"></i>
                            <p class="section-5__list-title intro">INNOVATIEVE TECHNOLOGIEËN</p>
                            <p class="section-5__list-text text">Wij bieden geavanceerde technologieën zoals micro-omvormersystemen, slimme laadstations en monitoringsystemen.</p>
                        </div>
                        <div class="section-5__list-item">
                            <i class="fas fa-solid fas fa-stars"></i>
                            <p class="section-5__list-title intro">KWALITEIT EN BETROUWBAARHEID</p>
                            <p class="section-5__list-text text">
                                Al onze onderdelen en materialen zijn zeer betrouwbaar en voldoen aan strenge eisen om de nauwkeurigheid en efficiëntie van het systeem te
                                verbeteren.
                            </p>
                        </div>
                        <div class="section-5__list-item">
                            <i class="fas fa-solar-panel"></i>
                            <p class="section-5__list-title intro">KENNIS EN ERVARING</p>
                            <p class="section-5__list-text text">
                                Wij hebben kennis op het gebied van de techniek en eliminatie van noodsystemen, evenals op het gebied van onderhoud en monitoring.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-8">
            <div class="section-8__inner inner">
                <div class="seciton-8__gallery gallery">
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels1.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels10.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels11.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels12.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels13.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels14.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels5.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels2.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels3.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels4.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels5.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels6.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels7.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels8.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/exampleofinstalledsolarpanels9.jpg" loading="lazy" alt="" /></div>
                    <div class="gallery__img hidden"><img src="images/Our_project/prepared/circuitbreakerforsolarpanels.jpg" loading="lazy" alt="" /></div>
                </div>
                <button class="gallery__btn main-button" id="moreButton">Toon meer</button>
            </div>
        </section>
        <section class="section-6 team">
            <div class="container">
                <div class="section-6__inner inner">
                    <p class="section__intro intro intro--line-center">KWALITEITSPROFESSIONALS</p>
                    <p class="lead">Ons Team</p>
                    <div class="section-6__tiles tiles">
                        <div class="tiles__item">
                            <img src="images/section6/worker.jpg" alt="" />
                            <div class="tiles__item-content">
                                <p class="tiles__item-worker-name">Robert Smith</p>
                                <p class="tiles__item-worker-occupation">Ingenieur</p>
                            </div>
                        </div>
                        <div class="tiles__item">
                            <img src="images/section6/worke3.jpg" alt="" />
                            <div class="tiles__item-content">
                                <p class="tiles__item-worker-name">Ruslan</p>
                                <p class="tiles__item-worker-occupation">Elektricien-installateur</p>
                            </div>
                        </div>
                        <div class="tiles__item">
                            <img src="images/section6/worker4.jpg" alt="" />
                            <div class="tiles__item-content">
                                <p class="tiles__item-worker-name">Andrew</p>
                                <p class="tiles__item-worker-occupation">Teamleider Installatie</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="VuePages">
            <div class="container">
                <div class="VuePages__inner inner" id="app">
                    <div class="VuePages__button-wrapper">
                        <button class="main-button" v-on:click="showPage(1)">voor thuis</button>
                        <button class="main-button" v-on:click="showPage(2)">voor boeren</button>
                        <button class="main-button" v-on:click="showPage(3)">voor handel</button>
                    </div>
                    <Transition mode="out-in" v-bind:name="'go' + direction">
                        <div class="pageFirst vue-page" v-if="number == 1">
                            <p class="pageFirst__intro intro intro--orange">Benut de kracht van zonne-energie voor jouw huis</p>
                            <ul class="list">
                                <li class="list-item">
                                    <i class="fal fa-sun"></i>
                                    <p class="list-item-text text">Omarm de energie van de zon en wees onafhankelijk van valuta.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fal fa-coin"></i>
                                    <p class="list-item-text text">Verlaag uw energierekening met zonne-energie.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fas fa-home-heart"></i>
                                    <p class="list-item-text text">Geniet het hele jaar door van ononderbroken elektriciteit.</p>
                                </li>
                            </ul>
                            <p class="pageFirst__intro intro intro--orange">Hoe Zonne-Energie Werkt Voor Particuliere Huizen</p>
                            <div class="pageFirst__group">
                                <div class="pageFirst__img">
                                    <img src="images/vuePages/solar1.gif" alt="" />
                                </div>
                                <div class="pageFirst__text-wrapper">
                                    <p class="pageFirst__intro intro intro--orange">Drie soorten zonne-energiesystemen</p>
                                    <p class="pageFirst__text text">
                                        De diagram illustreert de werking van zonne-energiecentrales met verschillende aansluitings- en energieopslagmethoden.
                                    </p>
                                    <p class="pageFirst__text text">
                                        Zonne-energiesystemen zijn geschikt voor alle huiseigenaren. Het enige wat je hoeft te doen is het juiste type installatie kiezen, en ons
                                        team regelt de rest.
                                    </p>
                                </div>
                            </div>
                            <p class="pageFirst__intro intro intro--orange">Zonne-energiesystemen voor residentieel gebruik zijn beschikbaar in drie soorten:</p>
                            <ul class="list list--left">
                                <li class="list-item">
                                    <i class="fas fa-solar-panel"></i>
                                    <p class="list-item__intro intro--orange intro">Netgekoppeld systeem</p>
                                    <p class="list-item-text text">Ideaal voor woningen die zijn aangesloten op het elektriciteitsnet - Helpt u besparen op energiekosten.</p>
                                </li>
                                <li class="list-item">
                                    <i class="far fa-cog"></i>
                                    <p class="list-item__intro intro--orange intro">Autonoom systeem</p>
                                    <p class="list-item-text text">Geschikt voor afgelegen locaties zonder toegang tot het elektriciteitsnet - Bereik energie-onafhankelijkheid.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fas fa-eclipse-alt"></i>
                                    <p class="list-item__intro intro--orange intro">Hybride systeem</p>
                                    <p class="list-item-text text">Biedt het beste van beide werelden, waarbij netverbinding en batterij-back-up gecombineerd worden.</p>
                                </li>
                            </ul>
                        </div>

                        <div class="pageSecond vue-page" v-if="number == 2">
                            <p class="pageSecond__intro intro intro--orange">Zonne-energieoplossingen voor uw huis</p>
                            <ul class="list">
                                <li class="list-item">
                                    <i class="fal fa-sun"></i>
                                    <p class="list-item-text text">Benut zonne-energie en verminder uw ecologische voetafdruk.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fal fa-coin"></i>
                                    <p class="list-item-text text">Bespaar geld met hernieuwbare energie.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fas fa-home-heart"></i>
                                    <p class="list-item-text text">Geniet het hele jaar door van ononderbroken elektriciteit.</p>
                                </li>
                            </ul>
                            <p class="pageSecond__intro intro intro--orange">Hoe Zonne-energie Werkt Voor Particuliere Huizen</p>
                            <div class="pageSecond__group">
                                <div class="pageSecond__img">
                                    <img src="images/vuePages/farm.jpg" alt="" />
                                </div>
                                <div class="pageSecond__text-wrapper">
                                    <p class="pageSecond__intro intro intro--orange">VANDAAG DE DAG WORDT EEN DRIEVOUDIGE PLAATSING VAN ZONNEPANELEN OP BOERDERIJEN TOEGEPAST:</p>
                                    <p class="pageSecond__text text">
                                        1. Als een luifel - het paneel wordt gekenmerkt door een optimale helling op een bepaalde hoogte vanaf de grond, waarbij ze energie
                                        genereren en tegelijkertijd bescherming bieden tegen de atmosfeer. 2. Op daken - hetzij het dak van een kas, een veeboerderij of een
                                        broeikas. 3. Op landbouwpercelen - de gebruikelijke verbinding wordt een opening tussen de rijen groente- en meloengewassen.
                                    </p>
                                    <p class="pageSecond__text text pageSecond__text--about-systems">
                                        Zonne-energiesystemen zijn geschikt voor alle huiseigenaren. Het enige wat je hoeft te doen is het juiste type installatie kiezen, en ons
                                        team regelt de rest.
                                    </p>
                                </div>
                            </div>
                            <p class="pageSecond__text text">Zonne-energiesystemen voor residentieel verbruik zijn verkrijgbaar in drie soorten:</p>
                            <ul class="list list--left">
                                <li class="list-item">
                                    <i class="fas fa-solar-panel"></i>
                                    <p class="list-item__intro intro--orange intro">Netgekoppeld systeem</p>
                                    <p class="list-item-text text">Ideaal voor huizen die zijn aangesloten op het elektriciteitsnet - Helpt u besparen op energiekosten.</p>
                                </li>
                                <li class="list-item">
                                    <i class="far fa-cog"></i>
                                    <p class="list-item__intro intro--orange intro">Systeem zonder aansluiting op het elektriciteitsnet</p>
                                    <p class="list-item-text text">Perfect voor afgelegen locaties zonder toegang tot het elektriciteitsnet - Bereik energieonafhankelijkheid.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fas fa-eclipse-alt"></i>
                                    <p class="list-item__intro intro--orange intro">Hybride systeem</p>
                                    <p class="list-item-text text">Biedt het beste van beide werelden, combineert netverbinding en batterijback-up.</p>
                                </li>
                            </ul>
                        </div>

                        <div class="pageThird vue-page" v-if="number == 3">
                            <p class="pageThird__intro intro intro--orange">Bedrijven voorzien van zonne-energie</p>
                            <ul class="list">
                                <li class="list-item">
                                    <i class="fal fa-sun"></i>
                                    <p class="list-item-text text">Flexibele oplossingen op maat van uw zakelijke behoeften.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fal fa-coin"></i>
                                    <p class="list-item-text text">Versterk uw bedrijfssustainability en maatschappelijke verantwoordelijkheid.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fal fa-monitor-heart-rate"></i>
                                    <p class="list-item-text text">Behaal Langetermijnkostenbesparingen Op Energie..</p>
                                </li>
                            </ul>

                            <div class="pageThird__text-wrapper">
                                <p class="pageThird__intro intro intro--orange">Voor gedetailleerde informatie over een commercieel project, vul het onderstaande formulier in:</p>
                                <div class="pageThird__indicator indicator" @click="goToForm">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>

                            <ul class="list list--left">
                                <li class="list-item">
                                    <i class="fas fa-solar-panel"></i>
                                    <p class="list-item__intro intro--orange intro">Ontwerp en Planning</p>
                                    <p class="list-item-text text">Wij ontwikkelen bedrijfsspecifieke plannen en installatiedocumentatie voor uw onderneming.</p>
                                </li>
                                <li class="list-item">
                                    <i class="far fa-cog"></i>
                                    <p class="list-item__intro intro--orange intro">Netgekoppeld systeem</p>
                                    <p class="list-item-text text">Ideaal voor bedrijven die zijn aangesloten op het elektriciteitsnet - Helpt u besparen op energiekosten.</p>
                                </li>
                                <li class="list-item">
                                    <i class="fas fa-eclipse-alt"></i>
                                    <p class="list-item__intro intro--orange intro">Systeem zonder aansluiting op het elektriciteitsnet</p>
                                    <p class="list-item-text text">Geschikt voor afgelegen bedrijven, zorgt voor energieonafhankelijkheid en duurzaamheid.</p>
                                </li>
                            </ul>
                        </div>
                    </Transition>
                </div>
            </div>
        </section>
        <section class="section-7 contacts" id="contacts">
            <div class="banner">
                <div class="banner__inner">
                    <p class="banner__lead lead">Contact</p>
                    <p class="banner__intro intro">Heeft u hulp nodig of heeft u een vraag?</p>
                </div>
            </div>
            <div class="container">
                <div class="section-7__content">
                    <div class="section-7__box inner">
                        <p class="section-7__intro intro intro--line-left">NEEM CONTACT OP</p>
                        <p class="section-7__lead lead">Krijg een consultatie?</p>
                        <p class="section-7__text text">Vul uw contactgegevens in en we zullen zo snel mogelijk bij u terugkomen.</p>
                        <ul class="list">
                            <li class="list__item"><i aria-hidden="true" class="far fa-sun"></i> <a href="tel:+31638578917">+31 6 3857 8917</a></li>
                            <hr />
                            <li class="list__item"><i aria-hidden="true" class="far fa-sun"></i> <a href="tel:+31684400805">+31 6 8440 0805</a></li>
                            <hr />
                            <li class="list__item"><i aria-hidden="true" class="far fa-sun"></i> sunwaysolutions.nl@gmail.com</li>
                            <hr />
                            <li class="list__item"><i aria-hidden="true" class="far fa-sun"></i>Rijnlaan 28 a bis 3522 BN Utrecht</li>
                            <hr />
                        </ul>
                    </div>
                    <div class="form-wrapper">
                        <form class="form" id="form">
                            <div class="form__box">
                                <input type="text" id="fname" name="fname" placeholder="naam" />
                                <label for="fname">Naam</label>
                            </div>
                            <div class="form__box">
                                <input type="text" id="fnumber" name="fnumber" placeholder="nummer" />
                                <label for="fnumber">Nummer</label>
                            </div>
                            <div class="form__box">
                                <input type="text" id="fmail" name="fmail" placeholder="mail" />
                                <label for="fmail">Email</label>
                            </div>
                            <div class="form__box">
                                <textarea type="textarea" id="ftextarea" name="ftextarea" placeholder="bericht"></textarea>
                                <label for="ftextarea">Bericht</label>
                            </div>
                            <button class="form__btn main-button">Verstuur</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="certificates">
            <!-- <div class="container"> -->
            <p class="certificates__title intro">Onze certificaten</p>
            <div class="certificates-wrapper">
                <div class="certificates__inner">
                    <div class="certificates__item">
                        <img src="images/certificates/cert1.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert2.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert3.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert4.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert1.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert2.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert3.png" alt="" />
                    </div>
                    <div class="certificates__item">
                        <img src="images/certificates/cert4.png" alt="" />
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="footer__inner inner">
                    <a href="#" class="footer__logo logo">
                        <img src="images/logo.jpg" alt="" />
                    </a>
                    <div class="footer__bottom">
                        <p class="footer__text text">Wij bieden een breed scala aan hoogwaardige diensten voor de installatie van zonnepanelen.</p>
                        <div class="social">
                            <div class="social__item">
                                <a href="https://www.facebook.com/people/Sunway-Solutions/100094297163058/">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                            <div class="social__item">
                                <a href="https://www.instagram.com/sunwaysolutions.nl"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script defer src="js/libs.min.js"></script>
        <script defer src="https://unpkg.com/vue@next"></script>
        <script defer src="js/main.js"></script>
    </body>
</html>
